@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #d8e2dc;
}
.homePostsDiv{
 
 width:250%;
  overflow-y:auto;
}
.post-card{
  
  background-color:#003049;
  color:white;
  align-content: center;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:2%;
  border-radius:25px;
  font-size:1.5em;

}
.post-card-button{
  background-color:#d8e2dc;
  border:solid 5px #003049;
  border-radius:25px;
  width:50%;
  text-align: center;
  color:#003049;
  margin-bottom:1%;
}
.post-card-button:hover{
  background-color:orange;
  border:solid 5px #003049;
  border-radius:25px;
  width:50%;
  text-align: center;
  color:#003049;
  margin-bottom:1%;
}
.post-div{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  
}
.create-post-button{
  background-color:#003049;
  border:solid 5px #003049;
  border-radius:25px;
  width:50%;
  text-align: center;
  color:#d8e2dc;
  margin-bottom:1%;
}
.create-post-button:hover{
  background-color:orange;
  border:solid 5px #003049;
  border-radius:25px;
  width:50%;
  text-align: center;
  color:#d8e2dc;
  margin-bottom:1%;
}
